* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

.gray_background {
    background: #F7F7F7;
}

.black_background {
    background: #000;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;

    margin-bottom: 24px;
}

.header {
    position: relative;
}

.header__nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 68px;

    height: 55px;

    margin: 29px 0 34px 0;
}

.header__nav_list .nav_list__item {
    list-style: none;
    text-transform: uppercase;
    color: #4E4E4E;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1.1px;
    transition: .2s;

    cursor: pointer;
}

.header__nav_list .nav_list__item:hover {
    transition: .2s;
    color: #57A4A4;
}


.header__intro_img {
    width: 100%;
}


.recent_posts {
    padding-top: 66px;
    padding-bottom: 69px;
}

.recent_posts__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}

.recent_posts__container .container__item {
    flex: 0 50%;
    display: flex;
}

.recent_posts__container .container__item .item__img {
    width: 160px;
    height: 140px;
    margin-right: 20px;
}

.recent_posts__container .container__item .item__content {
    max-width: 404px;
}

.recent_posts__container .container__item .item__content .content__title {
    font-size: 16px;
    line-height: 30px;
    color: #4E4E4E;
}

.recent_posts__container .container__item .item__content .content__info {
    color: #7C7C7C;
    font-size: 12px;
    line-height: 20px;
    margin-top: 1px;
}

.recent_posts__container .container__item .item__content .content__description {
    margin-top: 13px;
    color: #5C5C5C;
    font-size: 14px;
    line-height: 26px;
}

.instagram_shots {
    padding: 47px 0 49px 0;
}

.instagram_shots__header {
    display: flex;
    justify-content: space-between;
}

.instagram_shots__header .header__button {
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
}

.instagram_shots__content {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.instagram_shots__content .content__img {
    width: 285px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 66px 0 70px 0;
}

.footer__title {
    color: #fff;
    margin-bottom: 22px;
}

.footer__description {
    font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    max-width: 684px;
    text-align: center;
}

.footer__icons_container {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.footer__icons_container .icons_container__icon {
    width: 34px;
}

.footer__contact {
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    margin-top: 34px;
    text-align: center;
}



#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: none; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    cursor: pointer;
    position: relative;
    width: 44px;
    height: 37px;
    background-color: #000;
    margin: 0 0 23px auto;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}
.menu__btn > span::before {
    content: '';
    top: -4px;
}
.menu__btn > span::after {
    content: '';
    top: 6px;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 768px;
    }

    .header__nav_list {
        gap: 34px;
        height: 55px;

        margin: 23px 0 28px 0;
    }

    .recent_posts {
        padding-top: 56px;
        padding-bottom: 60px;
    }

    .recent_posts__container {
        flex-direction: column;
    }

    .recent_posts__container .container__item {
        flex: 0 100%;
    }


    .instagram_shots__content .content__img {
        width: 250px;
    }

    .instagram_shots__content .content__img:last-child {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 320px;
    }

    .header__nav_list {
        display: none;
    }

    .menu__btn {
        display: flex;
    }

    .recent_posts {
        padding-top: 38px;
        padding-bottom: 39px;
    }

    .recent_posts__container {
        flex-direction: column;
    }

    .recent_posts__container .container__item {
        flex: 0 100%;
        flex-direction: column;
    }

    .recent_posts__container .container__item .item__content .content__title {
        margin-top: 11px;
    }

    .recent_posts__container .container__item .item__content .content__description {
        display: none;
    }


    .instagram_shots__content .content__img {
        width: 100%;
    }

    .instagram_shots__content .content__img:not(:first-child) {
        display: none;
    }

    .instagram_shots__header .header__button {
        display: none;
    }


    /* контейнер меню */
    .header__nav_list {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 57px;
        right: 0;
        width: 182px;
        height: auto;
        margin: 0;
        background-color: #F5F5F5;
    }
    /* элементы меню */
    .header__nav_list .nav_list__item {
        padding: 4px 13px;
        font-size: 11px;
        line-height: 22px;
    }
    .header__nav_list .nav_list__item:hover {
        background-color: #E5E5E5;
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 50%;
        transition: .2s;
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 50%;
        transition: .2s;
    }
    #menu__toggle:checked ~ .header__nav_list {
        visibility: visible;
    }

}
